.racer-table td {
  height: 150px;
  width: 150px;
  border: 1px solid black;
  background-color: gray;
}
.racer-table td.active {
  background-repeat: no-repeat;
  background-size: 100%;
}
#player1-race td.active {
  background-image: url("images/player_1.png");
  background-size: 90%, cover;
  background-position: center, top left;
}
#player2-race td.active {
  background-image: url("images/player_2.png");
  background-size: 90%, cover;
  background-position: center, top left;
}

#player1-race td.finish {
  background-image: url("images/finish.png");
  background-size: cover;
}

#player2-race td.finish {
  background-image: url("images/finish.png");
  background-size: cover;
}
